{% extends 'baseTemplates/infoPageBase.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block carousel %}

    <div class="col-sm-12" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;">
        <div id="myCarousel" class="carousel slide hidden-xs" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="first-slide img-responsive" src="{% static "Images/carouselEx1.jpg" %}"
                         alt="First slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>DISS 2017</h1>
                            <p>The Corinthian Club, Glasgow, UK<br>
                                20th - 21th February 2017</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="second-slide img-responsive" src="{% static "Images/carouselEx2.jpg" %}"
                         alt="Second slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>DISS 2017</h1>
                            <p>First International Conference on Dismantling of Ship Structures</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" id="progressDiv">
        <div id="mobileCarousel" class="carousel slide visible-xs" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#mobileCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#mobileCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="first-slide img-responsive" src="{% static "Images/carouselEx1Mob.jpg" %}"
                         alt="First slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>DISS 2017</h1>
                            <p>The Corinthian Club, Glasgow, UK<br>
                                20th - 21th February 2017</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img class="second-slide img-responsive" src="{% static "Images/carouselEx2Mob.jpg" %}"
                         alt="Second slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>DISS 2017</h1>
                            <p>First International Conference on Dismantling of Ship Structures</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_script %}
    <script src="{% static "homeScript.js" %}"></script>
{% endblock %}